<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interFaceMapper">

 <select id="IfOrder" 
    parameterType="int"
    resultType="com.example.JAVA_MES_API.kafka.dto.IfOrderDto">
    
    SELECT
        c.ORDER_NO AS OrderNo,
        c.ITEM_NAME AS itemName,
        c.ITEM_CODE AS itemCode,
        c.EXPIRATION_DATE AS expirationDate,
        c.WORK_DATE AS workDate,
        c.LOT_NO AS lotNo,
        a.SIGN_EMP_CD AS signEmpCd
    FROM sign_record a
    INNER JOIN kafka_mapping b ON b.kafka_cd = a.sign_cd
    INNER JOIN work_order c ON c.order_no = a.key1
    WHERE a.sign_id = #{signId}
    
    </select>


	 <select id="IfPackingOrder" 
    parameterType="int"
    resultType="com.example.JAVA_MES_API.kafka.dto.IfPackingOrderDto">
    
    SELECT
        c.PACKING_ORDER_NO AS packingOrderNo,
        c.ITEM_NAME AS itemName,
        c.ITEM_CODE AS itemCode,
        c.EXPIRATION_DATE AS expirationDate,
        c.WORK_DATE AS workDate,
        c.LOT_NO AS lotNo,
        a.SIGN_EMP_CD AS signEmpCd
    FROM sign_record a
    INNER JOIN kafka_mapping b ON b.kafka_cd = a.sign_cd
    INNER JOIN packing_order c ON c.packing_order_no = a.key1
    WHERE a.sign_id = #{signId}
    
    </select>
    
</mapper>