<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="signMapper">

    <select id="signSearchInfo" 
    parameterType="com.example.JAVA_MES_API.api.dto.SignRequestDto"
    resultType="com.example.JAVA_MES_API.api.dto.SignResponseDto">
 SELECT	A.SIGN_DETAIL_NM			AS signDetailNm
	,	B.USER_NAME					AS signDetailUserNm
	,	A.SIGN_DETAIL_USER_ID 		AS signDetailUserId
	,	A.SIGN_EMP_CD				AS signEmpCd
	,	C.USER_NAME					AS signEmpNm
	,	A.SIGN_TIME					AS signTime
	,	A.SIGN_IMAGE				AS signImage
  FROM	SIGN_RECORD	A
					INNER JOIN USER_INFO	B
					ON B.USER_ID			= A.SIGN_DETAIL_USER_ID
					LEFT JOIN USER_INFO	C
					ON B.USER_ID			= A.SIGN_EMP_CD
 WHERE	SIGN_ID = @SIGN_ID 
   AND	SIGN_CD = @SIGN_CD     
    </select>
    
</mapper>